Repository johko/computer-vision-course, pull requests merged in 2023-12, with the labels that each got.

#108 Unit-3 Chapter-3 Vision Transformers Image Classification with LoRA
  notebooks/Unit 3 - Vision Transformers/LoRA-Image-Classification.ipynb
  notebooks/Unit 3 - Vision Transformers/transfer-learning.ipynb
Labels: notebook

#109 Unit 3: Vision Transformers - DETR
  chapters/en/Unit 3 - Vision Transformers/Common Vision Transformers - DETR.mdx
  notebooks/Unit 3 - Vision Transformers/DETR.ipynb
Labels: Chapter Content, notebook

#145 Unit 4 - CLIP and relatives - Models - Introduction
  chapters/en/Unit 4 - Mulitmodal Models/CLIP and relatives/Introduction.mdx
Labels: Chapter Content

#119 Zero-shot Computer Vision - Draft Introduction
  chapters/en/Unit 11  - Zero Shot Computer Vision/1.mdx
Labels: Chapter Content

#135 Unit 12. Generative Models - Examples of GAN (StyleGANs)
  chapters/en/Unit 5 - Generative Models/GANs & VAEs/StyleGAN.mdx
Labels: Chapter Content

#160 MobileNet Extra
  chapters/en/Unit 2 - Convolutional Neural Networks/mobilenetextra.md
Labels: Chapter Content

#107 Pull Request for "Image and Imaging" - "What is an Image?"
  chapters/en/Unit 1 - Fundamentals/image_and_imaging/image.mdx
Labels: Chapter Content

#136 Unit 12. Generative models - Practical issues
  chapters/en/Unit 5 - Generative Models/PRACTICAL APPLICATIONS & CHALLENGES/Ethical Issues.mdx
Labels: Chapter Content

#144 [Unit 3 - Swin Transformer] add more details + code snippets to .mdx
  chapters/en/Unit 3 - Vision Transformers/Swin Transformer.mdx
Labels: Chapter Content

#120 Unit 3 - Vision Transformers - Swin.ipynb
  notebooks/Unit 3 - Vision Transformers/Swin.ipynb
Labels: notebook

#134 Unit 12. Generative models - Diffusion
  chapters/en/Unit 5 - Generative Models/Diffusion models/Introduction - Diffusions.mdx
  chapters/en/Unit 5 - Generative Models/Diffusion models/Simple explanation and showcase of external resources.mdx
  chapters/en/Unit 5 - Generative Models/README.md
  notebooks/Unit 5 - Generative Models/README.md
Labels: Chapter Content

#150 Unit 4 - Clip and relatives - Notebooks for applications of CLIP
  notebooks/Unit 4 - Mulitmodal Models/README.md
  notebooks/Unit 4 - Multimodal Models/CLIP and relatives/Clustering with CLIP.ipynb
  notebooks/Unit 4 - Multimodal Models/CLIP and relatives/Image classification with CLIP.ipynb
  notebooks/Unit 4 - Multimodal Models/CLIP and relatives/Image_retrieval_with_prompts.ipynb
  notebooks/Unit 4 - Multimodal Models/CLIP and relatives/Image_similarity.ipynb
  notebooks/Unit 4 - Multimodal Models/ClipCrop.ipynb
Labels: notebook
